@inherits LayoutComponentBase
@implements IAsyncDisposable
@inject ApiClientWorkspaceState State
@inject AppCommandService Commands
@inject IJSRuntime JS

<main class="api-client-shell @(State.IsDarkTheme ? "theme-dark" : "theme-light") @State.FontSizeClass">
    <section class="client-workbench @(State.ShowExplorer ? "" : "hide-explorer") @(State.ShowInspector ? "" : "hide-inspector")" @ref="workbenchElement">
        @if (State.ShowExplorer)
        {
            <ExplorerSidebar WorkspacePath="@State.WorkspacePath"
                             WorkspaceStatus="@State.WorkspaceStatus"
                             WorkspaceName="@State.Workspace?.Name"
                             IsGitWorkspace="@State.IsGitWorkspace"
                             ShowWorkspaceSection="@State.ShowWorkspaceSection"
                             ShowCollectionsSection="@State.ShowCollectionsSection"
                             ShowSpecsSection="@State.ShowSpecsSection"
                             ShowRecentSection="@State.ShowRecentSection"
                             WorkspaceOptions="@State.WorkspaceOptionViews"
                             T="@State.T"
                             Collections="@State.Collections"
                             SelectedCollection="@State.SelectedCollection"
                             SelectedRequest="@State.SelectedRequest"
                             Specifications="@State.Specifications"
                             SpecFiles="@State.SpecFiles"
                             TryFilePath="@State.TryFilePath"
                             RecentSessions="@State.RecentSessions"
                             Method="@State.Method"
                             DocumentTitle="@State.DocumentTitle"
                             OnNewScratchRequest="@State.NewScratchRequest"
                             OnShowSettings="@(() => State.ShowRightPanel(RightPanelMode.Settings))"
                             OnNewCollection="@State.NewCollection"
                             OnPickWorkspace="@State.PickWorkspaceAsync"
                             OnNewWorkspace="@State.NewWorkspaceAsync"
                             OnNewRemoteWorkspace="@State.NewRemoteWorkspaceAsync"
                             WorkspaceAutoInitialize="@State.WorkspaceAutoInitialize"
                             WorkspaceAutoInitializeChanged="@((value) => State.WorkspaceAutoInitialize = value)"
                             OnLoadWorkspace="@State.LoadWorkspaceAsync"
                             OnSaveWorkspace="@State.SaveWorkspaceAsync"
                             OnOpenWorkspaceInExplorer="@State.OpenWorkspaceInExplorer"
                             OnRemoveWorkspaceOption="@State.RemoveWorkspaceOption"
                             OnDeleteWorkspaceFolder="@State.DeleteWorkspaceFolderAsync"
                             OnDeleteCollection="@State.DeleteSelectedCollectionAsync"
                             OnDeleteRequest="@State.DeleteSelectedRequestAsync"
                             OnGitStatus="@State.GitStatusAsync"
                             OnGitPull="@State.GitPullAsync"
                             OnGitPush="@State.GitPushAsync"
                             OnSelectWorkspace="@State.SelectWorkspaceAsync"
                             OnOpenWorkspaceConfig="@State.OpenWorkspaceConfigAsync"
                             OnToggleWorkspaceSection="@State.ToggleWorkspaceSection"
                             OnToggleCollectionsSection="@State.ToggleCollectionsSection"
                             OnToggleSpecsSection="@State.ToggleSpecsSection"
                             OnToggleRecentSection="@State.ToggleRecentSection"
                             OnShowCollectionsAbout="@State.OpenCollectionsAbout"
                             OnShowSpecsAbout="@State.OpenSpecsAbout"
                             OnSelectCollection="@State.SelectCollectionAsync"
                             OnOpenCollectionConfig="@State.OpenCollectionConfigAsync"
                             OnSelectRequest="@State.SelectRequestAsync"
                             OnNewRequestInCollection="@State.NewRequestInCollectionAsync"
                             OnDuplicateCollection="@State.DuplicateCollectionAsync"
                             OnDeleteCollectionItem="@State.DeleteCollectionAsync"
                             OnOpenCollectionInExplorer="@State.OpenCollectionInExplorer"
                             OnDuplicateRequest="@State.DuplicateRequestAsync"
                             OnMoveRequest="@State.MoveRequestAsync"
                             OnDeleteRequestItem="@State.DeleteRequestAsync"
                             OnOpenRequestDefault="@State.OpenRequestDefault"
                             OnShowRequest="@State.ShowRequest"
                             OnPickTryFile="@State.PickTryFileAsync"
                             OnNewRemoteSpecification="@State.NewRemoteSpecificationAsync"
                             OnLoadTryDocument="@State.LoadTryDocumentAsync"
                             OnSelectSpec="@State.SelectSpecAsync"
                             OnSelectSpecification="@State.SelectSpecificationAsync"
                             OnRefreshSpecification="@State.RefreshSpecificationAsync"
                             OnOpenSpecificationConfig="@State.OpenSpecificationConfigAsync"
                             OnOpenSpecificationInExplorer="@State.OpenSpecificationInExplorer"
                             OnDuplicateSpecification="@State.DuplicateSpecificationAsync"
                             OnDeleteSpecification="@State.DeleteSpecificationAsync"
                             OnShowRaw="@State.ShowRaw"
                             OnSelectSession="@State.SelectSession" />
            <div class="workbench-resizer left-resizer"
                 role="separator"
                 tabindex="0"
                 title="@State.T("resizeSidebar")"
                 aria-label="@State.T("resizeSidebar")"></div>
        }

        @Body

        @if (State.ShowInspector)
        {
            <div class="workbench-resizer right-resizer"
                 role="separator"
                 tabindex="0"
                 title="@State.T("resizeInspector")"
                 aria-label="@State.T("resizeInspector")"></div>
            <RightPanelHost Mode="@State.RightPanelMode"
                            Method="@State.Method"
                            Url="@State.Url"
                            T="@State.T"
                            AiMessages="@State.AiMessages"
                            PendingAiActions="@State.PendingAiActions"
                            AiDraft="@State.AiDraft"
                            HistoryRecords="@State.HistoryRecords"
                            ExpandedHistoryRecordId="@State.ExpandedHistoryRecordId"
                            AiDraftChanged="@State.SetAiDraft"
                            OnSelectMode="@State.ShowRightPanel"
                            OnSendAiMessage="@State.SendAiMessage"
                            OnSendAiQuickPrompt="@State.SendAiQuickPrompt"
                            OnApplyAiAction="@State.ApplyAiAction"
                            OnDismissAiAction="@State.DismissAiAction"
                            OnToggleHistoryRecord="@State.ToggleHistoryRecord" />
        }
    </section>
</main>

@code {
    private ElementReference workbenchElement;
    private MainLayoutResizeInterop? resizeInterop;
    private bool resizeInteropNeedsUpdate = true;

    protected override async Task OnInitializedAsync()
    {
        State.Changed += HandleStateChanged;
        State.ChangedAsync += HandleStateChangedAsync;
        Commands.CommandRequested += HandleAppCommandAsync;
        await State.InitializeAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        resizeInteropNeedsUpdate = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!resizeInteropNeedsUpdate)
        {
            return;
        }

        resizeInteropNeedsUpdate = false;
        resizeInterop ??= new MainLayoutResizeInterop(JS);
        await resizeInterop.InitializeAsync(workbenchElement);
    }

    private async Task HandleAppCommandAsync(AppCommand command)
    {
        await InvokeAsync(async () =>
        {
            switch (command)
            {
                case AppCommand.NewRequest:
                    State.NewScratchRequest();
                    break;
                case AppCommand.PasteImport:
                    await State.PasteImportAsync();
                    break;
                case AppCommand.ReloadWorkspace:
                    await State.LoadWorkspaceAsync();
                    break;
                case AppCommand.OpenSettings:
                    State.ShowRightPanel(RightPanelMode.Settings);
                    break;
                case AppCommand.ToggleExplorer:
                    State.ToggleExplorer();
                    break;
                case AppCommand.ToggleInspector:
                    State.ToggleInspector();
                    break;
            }
        });
    }

    private async void HandleStateChanged()
    {
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception exception)
        {
            await DispatchExceptionAsync(exception);
        }
    }

    private async Task HandleStateChangedAsync()
    {
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception exception)
        {
            await DispatchExceptionAsync(exception);
        }
    }

    public async ValueTask DisposeAsync()
    {
        State.Changed -= HandleStateChanged;
        State.ChangedAsync -= HandleStateChangedAsync;
        Commands.CommandRequested -= HandleAppCommandAsync;

        if (resizeInterop is not null)
        {
            await resizeInterop.DisposeAsync();
        }
    }
}
